@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){
  .top-block {
    .solution-wrap {
      .down {
        bottom: 130px;
      }
    }
  }

  .interaction {
    .title-wrap {
      margin-bottom: 85px;
    }
    .interaction-pic {
      max-width: 770px;
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 1289px){
  .slick-prev {
    top: 225px;
    left: 0px;
    &:after {
      display: none;
    }
  }

  .slick-next { 
    top: 225px;
    right: 0;
    &:after {
      display: none;
    }
  }

  .projects {
    .projects-slider {
      overflow: hidden;
    }
  }
}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1050px){
  .company-info {
    .company-info-wrap {
      .company-info-item {
        width: 50%;
      }
    }
  }
}
@media screen and (max-width: 1024px){
  .header {
    .header-wrap {
      .logo {
        width: 23%;
      }
    }
  }

  .top-block {
    padding: 285px 0 110px 0;
    .solution-wrap {
      .down {
        bottom: 10px;
      }
    }
  }

  .logistics {
    .logistics-scheme {
      .scheme-item:nth-child(2) {
        margin: 0 15px;
      }
    }
  }
}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 960px){
  .logistics {
    .logistics-scheme:before {
      max-width: 430px;
    }
  }
}
@media screen and (max-width: 981px){
  .top-block {
    padding: 120px 15px;
    .solution-wrap {
      .solution {
        h1 {
          max-width: 327px;
          font-size: 32px;
          line-height: 65px;
        }
      }
      .down {
        bottom: 15px;
      }
    }
  }

  .projects {
    .projects-slider {
      .slider-item {
        .slider-item-info {
          p {
            font-size: 15px;
          }
        }
      }
    }
    .projects-form-block {
      .form-field:nth-child(2) {
        margin: 0 15px;
      }
    }
  }
}

@media screen and (max-width: 847px){
  .projects {
    .projects-slider {
      .slider-item {
        flex-direction: column;
        align-items: center;
        .slider-item-pic {
          width: 100%;
          img {
            width: 100%;
          }
        }
        .slider-item-info {
          padding-right: 15px;
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 768px){
  .top-block {
    padding: 360px 0 290px 0;
  }

  .company-info {
    padding: 30px 0 30px 0;
  }

  .cooperation {
    padding-bottom: 30px;
    .title-wrap {
      margin-bottom: 60px;
    }
  }
}
@media screen and (max-width: 750px){
  .contacts {
    .contacts-wrap {
      flex-direction: column;
      align-items: center;
      .contacts-left {
        margin-bottom: 25px;
      }
    }
  }
}
@media screen and (max-width: 720px){
  .top-block {
    .solution-wrap {
      .solution {
        h1 {
          padding-top: 70px;
          max-width: 316px;
          font-size: 30px;
          line-height: 52px;
        }
      }
    }
  }
}
@media screen and (max-width: 701px){
  .logistics {
    .logistics-scheme {
      flex-direction: column;
      align-items: center;
      &:before {
        display: none;
      }
      .scheme-item:nth-child(2) {
        margin: 15px 0;
      }
    }
  }
}
@media screen and (max-width: 666px){
  .title-wrap {
    padding: 25px 15px;
    h2 {
      font-size: 30px;
    }
  }

  .contacts h2 {
    font-size: 30px;
  }

  .cooperation {
    .cooperation-item {
      .cooperation-info {
        p {
          font-size: 14px;
        }
      }
    }
  }
}
@media screen and (max-width: 650px){
  .cooperation {
    .cooperation-item {
      flex-direction: column;
      &:nth-child(2n) {
        flex-direction: column-reverse;
      }
      &:last-child > .cooperation-pic {
        img {
          width: 75px;
        }
      }
      .cooperation-pic {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: 77px;
        width: 100%;
        img {
          width: 75px;
        }
      }
      .cooperation-info {
        max-width: 100%;
        h3 {
          font-size: 18px;
        }
      }
    }
  }
}
@media screen and (max-width: 640px){
  .header {
    padding: 5px 0 5px 0;
    .header-wrap {
      flex-direction: column;
      align-items: center;
      .logo {
        margin-bottom: 5px;
        width: 164px;
      }
      .header-left {
        max-width: 440px;
        width: 100%;
        .phone {
          p {
            font-size: 14px;
          }
          a {
            font-size: 19px;
          }
        }
        a {
          width: 180px;
          height: 42px;
          font-size: 15px;
          line-height: 47px;
        }
      }
    }
  }

  .top-block {
    padding: 240px 0 140px 0;
    .solution-wrap {
      .solution {
        flex-direction: column;
        align-items: center;
        h1 {
          text-align: center;
          max-width: 100%;
        }
      }
      .down {
        bottom: 25px;
      }
    }
  }

  .company-info {
    padding: 50px 0 10px 0;
  }

  .interaction {
    padding-bottom: 30px;
    .title-wrap {
      margin-bottom: 60px;
    }
  }

  .about-us {
    padding-bottom: 100px;
    .title-wrap {
      margin-bottom: 100px;
    }
  }
}
@media screen and (max-width: 600px){
  .projects {
    .projects-form-block {
      form {
        max-width: 310px;
        flex-direction: column;
        align-items: center;
        .form-field {
          margin-bottom: 10px;
          &:nth-child(2) {
            margin: 0 0 10px 0;
          }
        }
        button {
          width: 100%;
        }
      }
    }
  }

  .interaction {
    .interaction-pic {
      margin-bottom: 25px;
      img {
        &.interaction-desk {
          display: none;
        }
        &.interaction-adapt {
          display: block;
        }
      }
    }
    ul {
      display: block;
      text-align: center;
    }
  }
}
@media screen and (max-width: 576px){
  .company-info {
    .company-info-wrap {
      flex-direction: column;
      align-items: center;
      .company-info-item {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 479px){
  .slick-prev, .slick-next {
    top: 135px;
  }

  .projects {
    .projects-slider {
      .slider-item {
        .slider-item-pic {
          img {
            height: 250px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 414px){
  .top-block {
    padding-top: 165px;
  }
}
@media screen and (max-width: 412px){
  .top-block {
    padding-top: 130px;
  }
}
@media screen and (max-width: 400px){
  .top-block {
    .solution-wrap {
      .solution {
        h1 {
          font-size: 23px;
          line-height: 42px;
        }
        .form-block {
          h3 {
            font-size: 22px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 360px){
  .contacts {
    .contacts-wrap {
      .contacts-right {
        padding: 25px 15px 30px 15px;
      }
    }
  }
}
@media screen and (max-width: 352px){
  .title-wrap {
    h2 {
      font-size: 25px;
    }
  }

  .header {
    padding-bottom: 10px;
    .header-wrap {
      .header-left {
        flex-direction: column;
        align-items: center;
        .phone {
          width: auto;
        }
      }
    }
  }

  .top-block {
    padding-top: 180px;
    .solution-wrap {
      .solution {
        .form-block {
          width: 100%;
        }
      }
    }
  }

  .projects {
    .projects-slider {
      .slider-item {
        .slider-item-info {
          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  .about-us {
    .about-us-info-wrap {
      .about-us-info {
        p {
          font-size: 15px;
        }
      }
    }
  }

  .contacts {
    h2 {
      font-size: 25px;
    }
    .contacts-wrap {
      .contacts-right {
        h3 {
          font-size: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 320px){
  .top-block {
    .solution-wrap {
      .solution {
        h1 {
          padding-top: 25px;
        }
      }
    }
  }
}