<section class="about-us">
  <div class="title-wrap">
    <h2>О нас</h2>
  </div>
  <div class="about-us-info-wrap" data-aos="flip-down" data-aos-once="true" data-aos-anchor=".about-us">
    <div class="about-us-info">
      <p>Мы команда, ориентированная на результат, с опытнейшими профессионалами в области профессиональной уборки.</p>
      <p>Используя наши услуги у Вас останется больше свободного времени для своих детей, на отдых, на развлечения или на саморазвитие. В наше время многие люди готовы заплатить, но сэкономить время на что-то другое, в том числе и на отдых.</p>
      <p>Стратегия нашей компании - это доверительные, долгосрочные отношения с клиентами. В своей работе мы используем лучшие ресурсы и одновременно придерживаемся к разумным затратам для клиента.</p>
      <p class="logistics-info-anim">Позвоните прямо сейчас и закажите клининговые услуги.</p>
    </div>
  </div>
</section>