<section id="companyInfo" class="company-info">
  <div class="company-info-wrap mbox">
    <div class="company-info-item" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
      <div class="company-info-icon">
        <img src="images/year-icon.png" alt="2008">
      </div>
      <p>С 2008 года на рынке</p>
    </div>
    <div class="company-info-item" data-aos="zoom-in" data-aos-delay="200" data-aos-once="true">
      <div class="company-info-icon">
        <img src="images/service-icon.png" alt="service">
      </div>
      <p>Современный подход к обслуживанию клиентов</p>
    </div>
    <div class="company-info-item" data-aos="zoom-in" data-aos-delay="300" data-aos-once="true">
      <div class="company-info-icon">
        <img src="images/call-icon.png" alt="call">
      </div>
      <p>Call-центр круглосуточно</p>
    </div>
    <div class="company-info-item" data-aos="zoom-in" data-aos-delay="400" data-aos-once="true">
      <div class="company-info-icon">
        <img src="images/materials-icon.png" alt="materials">
      </div>
      <p>Поставка расходных материалов</p>
    </div>
    <div class="company-info-item" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
      <div class="company-info-icon">
        <img src="images/area-icon.png" alt="area">
      </div>
      <p>Более 500 000 м2 убираемых помещений</p>
    </div>
    <div class="company-info-item" data-aos="zoom-in" data-aos-delay="200" data-aos-once="true">
      <div class="company-info-icon">
        <img src="images/public-icon.png" alt="public">
      </div>
      <p>Сотрудничество с государственными заказчиками</p>
    </div>
    <div class="company-info-item" data-aos="zoom-in" data-aos-delay="300" data-aos-once="true">
      <div class="company-info-icon">
        <img src="images/company-icon.png" alt="company">
      </div>
      <p>Обслуживание компаний с мировым именем</p>
    </div>
    <div class="company-info-item" data-aos="zoom-in" data-aos-delay="400" data-aos-once="true">
      <div class="company-info-icon">
        <img src="images/individual-icon.png" alt="individual">
      </div>
      <p>Индивидуальный подход,оказание услуг</p>
    </div>
  </div>
</section>

