<section id="contacts" class="contacts">
  <div class="mbox">
    <h2>Контакты</h2>
    <div class="contacts-wrap">
      <div class="contacts-left" data-aos="fade-right" data-aos-once="true" data-aos-anchor=".contacts">
        <a class="logo" href="index.html"><img src="images/logo.png" alt="logo"></a>
        <div class="contacts-block">
          <p>111672, город Москва
          <br>ул. Суздальска, дом 10,  корпус 1</p>
          <a href="tel:89161177444">8 (916) 11-77-444</a>
          <a href="mailto:klining.mos@gmail.com">klining.mos@gmail.com</a>
        </div>
      </div>
      <div class="contacts-right" data-aos="fade-left" data-aos-once="true" data-aos-anchor=".contacts">
        <h3>Оставить заявку</h3>
        <p>Оставьте ваши данные и мы свяжемся с вами</p>
        <form class="contacts-form" action="ajax.php" method="post">
          <div class="form-field">
            <input type="text" name="name" placeholder="Ваше имя" required />
          </div>
          <div class="form-field">
            <input type="tel" name="tel" placeholder="Ваш телефон" required />
          </div>
          <button class="button" type="submit">оставить заявку</button>
        </form>
      </div>
    </div>
  </div>
</section>