<section class="cooperation">
  <div class="title-wrap">
    <h2>Сотрудничая с “МОСГОРКЛИНИНГ”, Вы приобретаете:</h2>
  </div>
  <div class="mbox">
    <div class="cooperation-item" data-aos="fade-right" data-aos-once="true" data-aos-anchor=".cooperation">
      <div class="cooperation-pic">
        <img src="images/approach-icon.png" alt="approach">
      </div>
      <div class="cooperation-info">
        <h3>Индивидуальный подход</h3>
        <p>Каждый клиент нашей компании может выбрать именно тот пакет услуг,
        который его в наибольшей степени устроит.</p>
      </div>
    </div>

    <div class="cooperation-item" data-aos="fade-left" data-aos-delay="100" data-aos-once="true" data-aos-anchor=".cooperation">
      <div class="cooperation-info">
        <h3>Безупречное качество</h3>
        <p>Стабильно высокое качество услуг могут гарантировать только професионалы
        своего дела. Качество и безопасность услуг эксплуатации недвижимости - 
        это вашего имущества и залог стабильной работы вашего бизнеса.</p>
      </div>
      <div class="cooperation-pic">
        <img src="images/quality-icon.png" alt="approach">
      </div>
    </div>


    <div class="cooperation-item" data-aos="fade-right" data-aos-delay="200" data-aos-once="true" data-aos-anchor=".cooperation">
      <div class="cooperation-pic">
        <img src="images/clock-icon.png" alt="clock">
      </div>
      <div class="cooperation-info">
        <h3>Гибкость обслужвания и высокая оперативность</h3>
        <p>Мы предаём большое значение взаимодействию со своими клиентами на всех
        уровнях - гачиная с соблюдения договорённостей, заканчивая чистой формой
        и професиональностью инструментов обслуживающего персонала.</p>
      </div>
    </div>

    <div class="cooperation-item" data-aos="fade-left" data-aos-delay="300" data-aos-once="true" data-aos-anchor=".cooperation">
      <div class="cooperation-info">
        <h3>Современные технологии</h3>
        <p>Для повышения качества нашей работы, а также расширения перечня оказываемых 
        услуг, мы регулярно инвестируем значительные средства в поиск, изучение и 
        внедрение нового оборудования.</p>
      </div>
      <div class="cooperation-pic">
        <img src="images/tech-icon.png" alt="tech">
      </div>
    </div>


    <div class="cooperation-item" data-aos="fade-right" data-aos-delay="400" data-aos-once="true" data-aos-anchor=".cooperation">
      <div class="cooperation-pic">
        <img src="images/personal-icon.png" alt="personal">
      </div>
      <div class="cooperation-info">
        <h3>Высококвалифицированный и доброжелательный персонал</h3>
        <p>Благодаря эффективной кадровой политике компании “Мосгорклининг”, мы
        располагаем высокопрофессиональным персоналом, способным обеспечить
        самую высокую культуру обслуживания.</p>
      </div>
    </div>

    <div class="cooperation-item" data-aos="fade-left" data-aos-delay="500" data-aos-once="true" data-aos-anchor=".cooperation">
      <div class="cooperation-info">
        <h3>Финансовая прозрачность</h3>
        <p>Нашим клиентам мы готовы предоставить полную финансовую отчётность 
        о своей деятельности.</p>
      </div>
      <div class="cooperation-pic">
        <img src="images/financial-icon.png" alt="financial">
      </div>
    </div>
  </div>
</section>