<section class="interaction">
  <div class="title-wrap">
    <h2>Удобство взаимодействия</h2>
  </div>
  <div class="mbox">
    <div class="interaction-pic" data-aos="zoom-in" data-aos-once="true" data-aos-anchor=".interaction">
      <img class="interaction-desk" src="images/interaction.png" alt="interaction">
      <img class="interaction-adapt" src="images/interaction-adapt.png" alt="interaction">
    </div>
    <ul>
      <li>Осмотр объекта, получение ТЗ</li>
      <li>Расчёт коммерческого предложения</li>
      <li>Презентация коммерческого предложения, соглашение</li>
      <li>Подписание договора</li>
      <li>Запуск</li>
      <li>Контроль качества</li>
    </ul>
  </div>
</section>