<section class="logistics">
  <div class="title-wrap">
    <h2>Схема логистики</h2>
  </div>
  <div class="mbox">
    <p class="logistics-info" data-aos="zoom-in" data-aos-once="true" data-aos-anchor=".logistics-info-anim">Налаженная схема логистики обеспечивает бесперебойное снабжение
    объектов необходимыми товарно-материальными ценностями,
    что позволяет поддерживать качество уборки на хорошем уровне.</p>
    <div class="logistics-scheme">
      <div class="scheme-item">
        <div class="scheme-item-icon">
          <img src="images/phone-icon.png" alt="phone">
        </div>
        <span>Управляющий объектом обращается в отдел закупок/поставок</span>
        <i class="circles" data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-once="true" data-aos-anchor=".logistics-info"><i></i></i>
        <p>Наш специалист формирует заявку и
        отправляет её на склад. В случае
        отсутствия ТМЦ на складе, специалист
        связывается с поставщиком и оформляет заявку на срочную
        поставку.</p>
      </div>
      <div class="scheme-item">
        <div class="scheme-item-icon">
          <img src="images/stock-icon.png" alt="stock">
        </div>
        <span>Офис “Мосгорклининг” отдел закупок/поставок</span>
        <i class="circles" data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-once="true" data-aos-anchor=".logistics-info"><i></i></i>
        <p>Наш специалист формирует заявку и
        отправляет её на склад. В случае
        отсутствия ТМЦ на складе, специалист
        связывается с поставщиком и оформляет заявку на срочную
        поставку.</p>
      </div>
      <div class="scheme-item">
        <div class="scheme-item-icon scheme-icon-red">
          <img src="images/delivery-icon.png" alt="delivery">
        </div>
        <span>Офис/склад поставщика</span>
        <i class="circles" data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-once="true" data-aos-anchor=".logistics-info"><i></i></i>
        <p>Со склада поставщика ТМЦ
        на объект доставляется либо
        поставщиком, либо машиной
        “Мосгорклининг”</p>
      </div>
    </div>
  </div>
</section>