<section class="projects">
  <div class="title-wrap">
    <h2>Наши проекты</h2>
  </div>
  <div class="mbox">
    <div class="projects-slider">
      <div class="slider-item">
        <div class="slider-item-pic">
          <img src="images/office.jpg" alt="office">
        </div>
        <div class="slider-item-info">
          <h3>Уборка офисов</h3>
          <p>Главный враг офисных помещений – пыль, которая является мощным аллергеном. Причем, в офисе скопление пыли значительно больше, нежели в жилых помещениях, чему способствует зачастую расположение бизнес-центра – либо центр города, либо промышленные зоны. Пыль скапливается практически везде: на рабочих столах, подоконниках, стеллажах, внутри шкафов и т.п. И борьба с ней должна проводиться регулярно. Клининг офисов включает в себя удаление пыли, в частности, с мебели и оргтехники.</p>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item-pic">
          <img src="images/top-bg.jpg" alt="office">
        </div>
        <div class="slider-item-info">
          <h3>Уборка офисов</h3>
          <p>Главный враг офисных помещений – пыль, которая является мощным аллергеном. Причем, в офисе скопление пыли значительно больше, нежели в жилых помещениях, чему способствует зачастую расположение бизнес-центра – либо центр города, либо промышленные зоны. Пыль скапливается практически везде: на рабочих столах, подоконниках, стеллажах, внутри шкафов и т.п. И борьба с ней должна проводиться регулярно. Клининг офисов включает в себя удаление пыли, в частности, с мебели и оргтехники.</p>
        </div>
      </div>
    </div>
    <div class="projects-form-block">
      <form class="projects-form" action="ajax.php" method="post">
        <div class="form-field">
          <input type="text" name="name" placeholder="Ваше имя" required />
        </div>
        <div class="form-field">
          <input type="tel" name="tel" placeholder="Ваш телефон" required />
        </div>
        <button class="button" type="submit">оставить заявку</button>
      </form>
    </div>
  </div>
</section>
