<section class="top-block">
  <div class="solution-wrap">
    <div class="mbox">
      <div class="solution">
        <h1 data-aos="fade-right" data-aos-once="true">удобное решение для вашего бизнеса</h1>
        <div class="form-block">
          <h3>Оставить заявку</h3>
          <p>Оставьте ваши данные и мы свяжемся с вами</p>
          <form class="top-form" action="ajax.php" method="post">
            <div class="form-field">
              <input type="text" name="name" placeholder="Ваше имя" required />
            </div>
            <div class="form-field">
              <input type="tel" name="tel" placeholder="Ваш телефон" required />
            </div>
            <button class="button" type="submit">оставить заявку</button>
          </form>
        </div>
      </div>
    </div>
    <a class="down" href="#companyInfo" data-aos="fade-down" data-aos-once="true"></a>
  </div>
</section>